body {
  margin: 0;
  background-color: grey;
}

.header {
  margin-top: 150px;
  text-align: center;
  font-size: 4rem;
  color: white;
}

.food {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}
